@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family:  "Montserrat", serif;
    --MAIN-COLOR: #415BFB;
    --BG-COLOR: #F4F6FB;
    --BTN-COLOR: #F9FAFF;
    --BTN-BORDER: #E0E8FF;
    --FONT-COLOR: #343F53;
    --BTN-FONT: #797e87;
    --SEC-FONT-COLOR: #B1BBC9;
}

.mainbody {
    width: 100vw;
    height: 100vh;
    background-color: var(--BG-COLOR);
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.headercontainer {
    height: 100%;
    background-image: url(images/landingpage.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 90%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 8rem;
    margin-left: 2rem;

    gap: 1rem;
    color: var(--FONT-COLOR);
}

.header>h1 {
    font-size: 2rem;
    font-weight: 500;
    position: relative;
}


.maincontainer {
    margin: 3rem;
    padding: 2rem;
    background-color: white;
    backdrop-filter: blur(9px);
    border-radius: 16px;

}

.form {
    font-size: 0.75rem;
    font-weight: 550;
    color: var(--BTN-FONT);

}

label, input {
    font: inherit;
}

.profilepic {
    display: flex;
    justify-content: start;
    align-items: center;
}

.profilepic>button {
    border: none;
    border: 1px solid;
    font-size: 10px;
    color: var(--BTN-FONT);
    font-weight: 550;
    background-color: var(--BTN-COLOR);
    border-color: var(--BTN-BORDER);
    border-radius: 5px;
    padding: 3px 5px;
}

.firstname, .lastname, .emailaddress, .workchoice, .workspaceurl, .firstpassword, .confirmpassword {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.namegroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formcontainer input {
    border: none;
    border: 1px solid var(--BTN-BORDER);
    background-color: var(--BTN-COLOR);
    height: 1.75rem;
    border-radius: 4px;
}

.formcontainer input[type="radio"] {
    border: none;
    border: 1px solid var(--BTN-BORDER);
    opacity: 60%;
    width: 1rem;
}

.designer, .developer, .other {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.workchoice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emailaddress, .workchoice, .workspaceurl, .firstpassword, .confirmpassword {
    margin-bottom: 1rem;
}

.urlcontainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    align-items: center;
}

.btn {
    border: none;
    border: 1px solid var(--BTN-BORDER);
    border-radius: 8px;
    height: 2.7rem;
    background-color: var(--MAIN-COLOR);
    color: white;
    font-weight: 600;
}
